@{
  Layout = "_Layout";
}
@model Factory.Models.Location
<h1>Edit Location</h1>
<p>Editing: @Model.Name</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.LocationId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Update" />
}