<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Factory Tracker</title>
    <link rel="stylesheet" href="~/css/output.css">
  </head>
  <body>
    <div class="relative container mx-auto p-6 h-screen">
      @await Html.PartialAsync("NavBar")
      @RenderBody()
    </div>
  </body>
</html>