<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Factory Tracker</title>
    <link rel="stylesheet" href="~/css/output.css">
  </head>
  <body>
    <div class="relative container mx-auto p-6 h-screen">
      @await Html.PartialAsync("NavBar")
      <div class="container flex flex-col items-center px-6 mx-auto mt-10 space-y-0">
        @RenderBody()
      </div>
    </div>
    @await Html.PartialAsync("Footer")
  </body>
</html>