<nav class="flex items-center justify-between sticky top-0 z-50 pb-10">
  <div class="pt-2">
    <img src="~/assets/images/logo.svg" alt="manage logo">
  </div>
  <div class="space-x-6 flex">
    <p class="hover:text-darkGrayishBlue">@Html.ActionLink("Home", "Index", "Home")</p>
    <p class="hover:text-darkGrayishBlue">@Html.ActionLink("Locations", "Index", "Locations")</p>
    <p class="hover:text-darkGrayishBlue">@Html.ActionLink("Engineers", "Index", "Engineers")</p>
    <p class="hover:text-darkGrayishBlue">@Html.ActionLink("Machines", "Index", "Machines")</p>
  </div>
</nav>