<div class="d-flex">
  <p class="mr-4">@Html.ActionLink("Home", "Index", "Home")</p>
  <p class="mr-4">@Html.ActionLink("Locations", "Index", "Locations")</p>
  <p class="mr-4">@Html.ActionLink("Engineers", "Index", "Engineers")</p>
  <p class="mr-4">@Html.ActionLink("Machines", "Index", "Machines")</p>
</div>