@{
  Layout="_Layout";
}
@model Factory.Models.Engineer

<h1>Add Machine To Engineer @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")

  <input type="submit" value="Add Machine">
}