<div class="d-flex">
  <p class="mr-4">@Html.ActionLink("Home", "Index", "Home")</p>
  <p class="mr-4">@Html.ActionLink("Departments", "Index", "Departments")</p>
  <p class="mr-4">@Html.ActionLink("Student Directory", "Index", "Students")</p>
  <p class="mr-4">@Html.ActionLink("Course Catalog", "Index", "Courses")</p>
</div>